<%- include("partials/header") %>

<main class="read">

    <% if (users) { %>
        <% if (view) { %>
            <h1 class="title">Accounts</h1>
    
            <p>From VIEW "accounts"</p>
        <% } else { %>
            <h1 class="title">Account</h1>
        <% } %>

        <p class="query">Query: <%= query %></p>

        <table>
            <thead>
                <tr>
                    <td>Account No.</td>
                    <td>Branch</td>
                    <td>Name</td>
                    <td>Date of Birth</td>
                    <td>Address</td>
                    <td>Email</td>
                    <td>Phone</td>
                </tr>
            </thead>

            <% for (user of users) { %>
                <tbody>
                    <tr>
                        <td><%= user.uid %></td>
                        <td><%= branch.branchName %></td>
                        <td><%= `${user.fname} ${user.lname}` %></td>  
                        <td><%= user.dob %></td>
                        <td><%= user.address %></td>  
                        <td><%= user.email %></td>
                        <td><%= user.phone %></td>  
                    </tr>
                </tbody>
            <% } %>
        </table>
    <% } %>

    <% if (balance) { %>
        <h1 class="title">Balance</h1>

        <p class="query">Query: <%= query %></p>

        <table>
            <thead>
                <tr>
                    <td>Account No.</td>
                    <td>Name</td>
                    <td>Balance</td>
                </tr>
            </thead>
        <% for (b of balance) { %>
            <tbody>
                <tr>
                    <td><%= b.uid %></td>
                    <td><%= b.fname %></td>
                    <td><%= b.balance %></td>
                </tr>
            </tbody>
        <% } %>
        </table>
    <% } %>

    <% if (transaction) { %>
        <h1 class="title">Transactions</h1>

        <p class="query">Query: <%= query %></p>

        <form action="/read/transaction/<%= uid %>" class="transaction" method="post">

            <label for="receiver">Receiver</label>
            <select name="receiver" id="receiver" required>
                <option value="">Select Receiver</option>
                <% for (receiver of receivers) { %>
                    <option value="<%= receiver.uid %>"><%= receiver.fname %></option>
                <% } %>
            </select>

            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" required>

            <button>Send</button>
        </form>

        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Date</td>
                    <td>Sender ID</td>
                    <td>Receiver ID</td>
                    <td>Receiver Name</td>
                    <td>Amount</td>
                </tr>
            </thead>

        <% for (t of transaction) { %>
            <tbody>
                <tr>
                    <td><%= t.tid %></td>
                    <td><%= t.date %></td>
                    <td><%= t.sender_uid %></td>
                    <td><%= t.receiver_uid %></td>
                    <td><%= t.receiver_name %></td>
                    <td><%= t.amount %></td>
                </tr>
            </tbody>
            <% } %>
        </table>
    <% } %>

    <% if (loans) { %>
        <h1 class="title">Loans</h1>
        
        <p class="query">Query: <%= query %></p>

        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Amount</td>
                    <td>Duration (months)</td>
                    <td>Installments</td>
                    <td>Balance ID</td>
                </tr>
            </thead>
            <% for (l of loans) { %>
                <tbody>
                    <tr>
                        <td><%= l.lid %></td>
                        <td><%= l.amount %></td>
                        <td><%= l.duration %></td>
                        <td><%= parseInt(l.installments) %></td>
                        <td><%= l.bid %></td>
                    </tr>
                </tbody>
            <% } %>
        </table>
    <% } %>

    <% if (branches) { %>
        <h1 class="title">Branches</h1>

        <p class="query">Query: <%= query %></p>

        <table>
            <thead>
                <tr>
                    <td>Branch ID</td>
                    <td>Name</td>
                    <td>Location</td>
                </tr>
            </thead>
        <% for (branch of branches) { %>
            <tbody>
                <tr>
                    <td><%= branch.branchID %></td>
                    <td><%= branch.branchName %></td>
                    <td><%= branch.location %></td>
                </tr>
            </tbody>
        <% } %>
        </table>
    <% } %>

</main>

<%- include("partials/footer") %>