<%- include("partials/header") %>

<main class="read">

    <h1 class="title">Account</h1>

    <% if (users) { %>
        <p class="query">Query: <%= query %></p>

        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Date of Birth</td>
                    <td>Address</td>
                    <td>Email</td>
                    <td>Phone</td>
                </tr>
            </thead>

            <% for (user of users) { %>
                <tbody>
                    <tr>
                        <td><%= user.uid %></td>
                        <td><%= `${user.fname} ${user.lname}` %></td>  
                        <td><%= user.dob %></td>
                        <td><%= user.address %></td>  
                        <td><%= user.email %></td>
                        <td><%= user.phone %></td>  
                    </tr>
                </tbody>
            <% } %>
        </table>
    <% } %>

    <% if (balance) { %>
        <p class="query">Query: <%= query %></p>

        <table>
            <thead>
                <tr>
                    <td>User ID</td>
                    <td>Name</td>
                    <td>Balance</td>
                </tr>
            </thead>
        <% for (b of balance) { %>
            <tbody>
                <tr>
                    <td><%= b.uid %></td>
                    <td><%= b.fname %></td>
                    <td><%= b.balance %></td>
                </tr>
            </tbody>
        <% } %>
        </table>
    <% } %>

    <% if (transaction) { %>

        <p class="query">Query: <%= query %></p>

        <form action="/read/transaction/<%= uid %>" class="transaction" method="post">

            <label for="receiver">Receiver</label>
            <select name="receiver" id="receiver" required>
                <option value="">Select Receiver</option>
                <% for (receiver of receivers) { %>
                    <option value="<%= receiver.uid %>"><%= receiver.uid %></option>
                <% } %>
            </select>

            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" required>

            <button>Send</button>
        </form>

        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Date</td>
                    <td>Sender ID</td>
                    <td>Receiver ID</td>
                    <td>Amount</td>
                </tr>
            </thead>

        <% for (t of transaction) { %>
            <tbody>
                <tr>
                    <td><%= t.tid %></td>
                    <td><%= t.date %></td>
                    <td><%= t.sender_uid %></td>
                    <td><%= t.receiver_uid %></td>
                    <td><%= t.amount %></td>
                </tr>
            </tbody>
            <% } %>
        </table>
    <% } %>

    <% if (loan) { %>
        <p class="query">Query: <%= query %></p>
        <% for (l of loan) { %>
            <p><%= l.lid %></p>
            <p><%= l.amount %></p>
            <p><%= l.duration %></p>
            <p><%= l.installments %></p>
            <p><%= l.bid %></p>
        <% } %>
    <% } %>

</main>

<%- include("partials/footer") %>