<%- include("partials/header") %>

<% if (register) { %>
    <h1>Welcome, <%= name.fname %></h1>
    <a href="/read/account/<%= name.fname %>">Account</a>
    <a href="/read/balance/<%= name.fname %>">Balance</a>
    <a href="/read/transaction/<%= name.fname %>">Transaction</a>
    <a href="/read/loan/<%= name.fname %>">Loan</a>
<% } else { %>
    <h1>Welcome, <%= name %></h1>
    <a href="/read/account/<%= name %>">Account</a>
    <a href="/read/balance/<%= name %>">Balance</a>
    <a href="/read/transaction/<%= name %>">Transaction</a>
    <a href="/read/loan/<%= name %>">Loan</a>
<% } %>




<%- include("partials/footer") %>
