<%- include("partials/header") %>

<main class="welcome">

    <h1 class="title">Welcome, <%= name %></h1>
    <p class="query">Query: <%= query %></p>

    <div class="links">
        <a href="/read/account/<%= uid %>"><div>Account</div></a>
        <a href="/read/balance/<%= uid %>"><div>Balance</div></a>
        <a href="/read/transaction/<%= uid %>"><div>Transaction</div></a>
        <a href="/read/loan/<%= uid %>"><div>Loan</div></a>
    </div>

</main>

<%- include("partials/footer") %>
